* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
}
/*styles the timer*/
#time {
    margin-right: 10px;
    margin-top: 5px;
}
/*styles the "view highscores" link*/
#highscoresLink {
    margin-left: 10px;
    margin-top: 5px;
    text-decoration: none;
    color:blue;
}
/*styles all the text content for the start page*/
#startPage {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}
/*styles the "coding quiz challenge"*/
#startPage h1 {
    padding: 5%;
    font-size: 175%;
}
/*styles the start button only*/
#startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2%;
   font-size: 150%;
}
/*styles all the buttons*/
.buttons {
    color: white;
    background: rgb(94, 64, 134);
    border-radius: 10%;
    padding: 1%;
}
/*gives all the buttons an effect when you hover over them*/
.buttons:hover {
    opacity: 75%;
}
/*styles all the questions*/
.qStyle {
    display: flex;
    justify-content: center;
    font-size: 125%;
    padding: 5%;
}
/*styles all the answers*/
.aStyle {
   margin-left: 15%;
}

#allDonePage {
    text-align: center;
    font-size: 125%; 
}

#form-input {
    margin-top: 5%;
}

.spacing {
    padding:1%;
}

#highscorePage {
    text-align: center;
}

#highscorePage h1 {
    padding: 5%;
    font-size: 175%;
}

